.prodect-contener{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.prodect-prant{
    display: grid;
    grid-template-columns: repeat(3 ,320px);
    gap: 47px;
    margin-left: 150px;
    margin-top: 50px;
    
}